<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7d581b10-8600-49ca-88a8-3586ff23989b" name="Test Suite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7d581b10-8600-49ca-88a8-3586ff23989bfileName">Test-Suite-2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
