<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5432219f-5df5-4e62-90b6-9bfed022c341" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5432219f-5df5-4e62-90b6-9bfed022c341fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
