<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="410e90e9-3145-4a50-9aef-af17bdc09d1e" name="Test Suite 6" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="410e90e9-3145-4a50-9aef-af17bdc09d1efileName">Test-Suite-6</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
